<!--TODO-->

userSide
-booking a place from the place view by sending an email (making another view with the email of the owner)
-making the + a form the sends a post req and adds the place in a favorites list (the cart thing)

-fix the price sorting thing
-fix the google signing up thing (just use the redirect thing)
-stars in the place view for the review thing


dashboard
fix edit and delete
-users view and their bookings
-relation between the user and the place user likes a place
-relation between the user and the place user can book a place
-admin registration


-main dashboard view
check the responsivity
make all the data gets returned in order
organise the code and the files and the folders
deploy to heruko with the env and the vendor
