<!--TODO-->

userSide
-at first user adds an owner then a place
-booking a place from the place view by sending an email (making another view with the email of the owner)
-making the + a form the sends a post req and adds the place in a favorites list (the cart thing)

-fix the price sorting thing
-add pages on the navbar
-fix the google signing up thing (just use the redirect thing)
-activate the search bar
-make the search bar okay with S and s
-stars in the place view for the review thing


dashboard
fix edit and delete
make the buttons redirect to pages
-users view and a page for each user and their bookings
-relation between the place and the owner
-relation between the user and the place many to many
-admin registration

-main dashboard view

check the responsivity
make all the data gets returned in order
organise the code and the files and the folders
deploy to heruko with the env and the vendor
